body{
    /* font-family: sans-serif; */
    background: linear-gradient(to right, #2c3e50, #fd746c);
}


.box{
    width: 450px;
    background: white;
    border-radius: 12px 12px 12px 12px;
    position: absolute;
    /* top: 100px;
    left: 524px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09), 
                0 4px 2px rgba(0,0,0,0.09), 
                0 8px 4px rgba(0,0,0,0.09), 
                0 16px 8px rgba(0,0,0,0.09),
                0 32px 16px rgba(0,0,0,0.09);
}


.box2{
    /* width: 820px; */
    background: white;
    border-radius: 12px 12px 12px 12px;
    position: absolute;
    /* padding: 5px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* text-align: left; */
    box-shadow: 0 2px 1px rgba(0,0,0,0.09), 
                0 4px 2px rgba(0,0,0,0.09), 
                0 8px 4px rgba(0,0,0,0.09), 
                0 16px 8px rgba(0,0,0,0.09),
                0 32px 16px rgba(0,0,0,0.09);
}

.tables{
    padding: 7px;
}

#ico{
    padding: 0px;
    text-align: right;
}

.select-dropdown{
    color: grey;
}

.to_pad{
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
}
/* 
.btn {
    padding: 0 15px !important;
    width: 130px;
    height: 100px;
} */

/* i.left {
    margin-right: 0px;
} */

.btn, .btn-large, .btn-small {
    background-color: teal;
}

.btn, .btn-large, .btn-small, .btn-flat {
    border-radius: 10px;
    text-transform: capitalize;
}


h5, h2{
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: teal;
    font-variant: small-caps;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0px;
    margin-bottom: 18px;
    color: white;
    border-radius: 13px 13px 0px 0px;
    text-shadow: teal 3px 3px 5px;
}

a, i{
    color: white;
}

.input-field.col.s6,.input-field.col.s12,.input-field.col.s4,
.input-field.col.s9,.input-field.col.s3{
    margin-top: 0px;
    margin-bottom: 8px;
}

.tyu{
    width: 150px;
}


input[type=date]{
    color: grey;
}


.box input[type = "submit"],.box input[type = "reset"]{
    border:0;
    background: teal;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    border: 2px solid teal;
    padding: 5px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
  
.box input[type = "submit"]:hover{
    background: white;
    color: teal;
}
  
.box input[type = "reset"]:hover{
    background: white;
    color: teal;
}


table{
    border: 0px solid black;
}