<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/style.css">
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <link type="text/css" rel="stylesheet" href="../static/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="../static/sam.js"></script>
    <script type="text/javascript" src="../static/materialize.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
  </head>

  <body>
    <div class = "container">
        <div class = "row">       
                 
            <form  class="box" action="/resubmit" method="POST">

                <div>
                    <h5>Edit Student Details</h>
                    <div id="ico">
                        <!-- <a href="/toedit"><i>&#9998;</i></a> -->
                        <!-- <a href="/data"><i>&#9729;</i></a> -->
                    </div>
                </div>
                


                <div class = "to_pad">
                    <div class="input-field col s6">
                        <input id="first_name" type="text" pattern="^[a-zA-Z]*" 
                        oninvalid="setCustomValidity('Please enter alphabets only. ')"
                        oninput="this.setCustomValidity('')" class="validate" value = {{variable['first_name']}} name="first_name">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" pattern="^[a-zA-Z]*" 
                        oninvalid="setCustomValidity('Please enter alphabets only. ')"
                        oninput="this.setCustomValidity('')"  class="validate" value = {{variable[' last_name']}} name="last_name">
                        <label for="last_name">Last Name</label>
                    </div>
                
        
                    <div class="input-field col s6">
                        <input id="email" type="email" class="validate" value = {{variable[' email']}} name="email">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="phone_number" type="text" pattern="[1-9]{1}[0-9]{9}" 
                        title="10 digit number"  data-length="10" value = {{variable[' phone']}} name="phone">
                        <label for="phone_number">Phone Number</label>
                    </div>           
                
                    
                    <div class="input-field col s6 tim">
                        <input type="date" class="datepicker" value = {{variable[' birthday']}} name="birthday">
                    </div>
    
    
                    <div class="input-field col s6">
                        <div class="input-field col s6">
                            <p><label>
                                <input type="radio" name="gender" value="male" checked />
                                <span>Male</span>
                            </label></p>
                        </div>
                        <div class="input-field col s6">
                            <p><label>
                                <input type="radio" name="gender" value="female" />
                                <span>Female</span>
                            </label></p>
                        </div>
                    </div>
    

                    <div class="input-field col s3">
                        <input id="city" type="text"  pattern="^[a-zA-Z]*" 
                        oninvalid="setCustomValidity('Please enter alphabets only. ')"
                        oninput="this.setCustomValidity('')" class="validate"  value = {{variable[' city']}} name="city">
                        <label for="city">City</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="pincode" type="text" pattern="[1-9]{1}[0-9]{5}" 
                        title="6 digit code"  data-length="6" class="validate"  value = {{variable[' pincode']}} name="pincode">
                        <label for="pincode">PIncode</label>
                    </div>
                    <div class="input-field col s6">
                        <select id="st"  value = {{variable[' state']}} name="state">
                            <option value=null disabled selected>State</option>
                            <option value=Andhra_Pradesh>Andhra Pradesh</option>
                            <option value=Arunachal_Pradesh>Arunachal Pradesh</option>
                            <option value=Assam>Assam</option>
                            <option value=Bihar>Bihar</option>
                            <option value=Chandigarh>Chandigarh</option>
                            <option value=Chhattisgarh>Chhattisgarh</option>
                            <option value=Daman_and_Diu>Daman and Diu</option>
                            <option value=Delhi>Delhi</option>
                            <option value=Lakshadweep>Lakshadweep</option>
                            <option value=Puducherry>Puducherry</option>
                            <option value=Goa>Goa</option>
                            <option value=Gujarat>Gujarat</option>
                            <option value=Haryana>Haryana</option>
                            <option value=Himachal_Pradesh>Himachal Pradesh</option>
                            <option value=Jammu_and_Kashmir>Jammu & Kashmir</option>
                            <option value=Jharkhand>Jharkhand</option>
                            <option value=Karnataka>Karnataka</option>
                            <option value=Kerala>Kerala</option>
                            <option value=Madhya_Pradesh>Madhya Pradesh</option>
                            <option value=Maharashtra>Maharashtra</option>
                            <option value=Manipur>Manipur</option>
                            <option value=Meghalaya>Meghalaya</option>
                            <option value=Mizoram>Mizoram</option>
                            <option value=Nagaland>Nagaland</option>
                            <option value=Odisha>Odisha</option>
                            <option value=Punjab>Punjab</option>
                            <option value=Rajasthan>Rajasthan</option>
                            <option value=Sikkim>Sikkim</option>
                            <option value=Tamil_Nadu>Tamil Nadu</option>
                            <option value=Telangana>Telangana</option>
                            <option value=Tripura>Tripura</option>
                            <option value=Uttar_Pradesh>Uttar Pradesh</option>
                            <option value=Uttarakhand>Uttarakhand</option>
                            <option value=West_Bengal>West Bengal</option>
                        </select>
                        <label></label>
                    </div>
    

                    <div class="input-field col s12">
                        <input id="university" type="text" class="validate"  value = {{variable[' uni_name']}} name="uni_name">
                        <label for="university">University</label>
                    </div>
    
                    <div class="input-field col s9">
                        <input id="Field" type="text" class="validate"  value = {{variable[' field']}} name="field">
                        <label for="Field">Field</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="year" type="number" min="1950" max="2020" class="validate"  value = {{variable[' year']}} name="year">
                        <label for="year">Year</label>
                    </div>
    
                    <div class="input-field col s4">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">check</i>
                        </button>
                    </div>
     
                    <div class="input-field col s4">
                        <button class="btn waves-effect waves-light" type="reset" name="action">Reset
                            <i class="material-icons right">cached</i>
                        </button>
                    </div>
                    
                    <div class="input-field col s4">
                        <input id = "dis" type="text" placeholder="dis" class = "validate" value = {{variable['reg_num']}} readonly="readonly" name = "dis" />
                        <label for="dis"></label>
                    </div>
     
                </div>

            </form>

        </div>
    </div>
    <script type="text/javascript" src="../static/materialize.min.js"></script>
  </body>
</html>