<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>َStudent Registeration Form</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>

  <form class="box" action="/submit" method="POST">
    <h1>Student Details</h1>
    <!-- {%if message%}
    <p class = "message">{{ message | safe }}</p>
    {% endif %} -->
    <input pattern="[a-zA-Z]+" oninvalid="setCustomValidity('Please enter alphabets only. ')" 
    type="text" class="form-control" name="first_name" placeholder="Firstname">
    
    <input type="text" pattern="[a-zA-Z]+" oninvalid="setCustomValidity('Please enter alphabets only. ')" 
      name="last_name" placeholder="Lastname">
    
    <input type="email" name="email" oninvalid="setCustomValidity('invalid email')" placeholder="Email">
    
    <input type="text" pattern="[1-9]{1}[0-9]{9}" title="10 digit number" name="phone"
      placeholder="Phone Number">
    
    <input placeholder="Birthday" class="textbox-n" type="text" onfocus="(this.type='date')"
      name = "birthday" id="date">
    
    <select id="gender" name = "gender">
      <option value="">Gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select>
    
    <input type="text" name="address" id="myHeader" placeholder="Address">

    <input type="text" name="state"  id="ox" placeholder="State">
    <input type="text"  name="city" id="ox" placeholder="City">
    <input type="text"  name="pincode" id="ox" pattern="[1-9]{1}[0-9]{5}" title="6 digit number" placeholder="Pincode">

    <h1>Masters Details</h1>
    
    <input type="text" name="uni_name" id="ty" placeholder="University Name">
    <input type="text" name="field" id="px" placeholder="Field">
    <input type="number" name = "year" id="ox" min="1950" max="2020" step="01" placeholder="Year" 
      ></input>


    <input type="submit" name="" value="Login">
    <input type="reset" value="Reset">
  
  </form>


</body>

</html>